<style type="text/css">
.wrapper {
position: relative;
margin: 0 auto;
width: 1306px;
}
</style>

<div class="wrapper">
    <img src="images/ROI-Calculator_a2_01.jpg" alt="">
    <img src="images/ROI-Calculator_a2_02.jpg" alt="" class="noCal">
    <!-- <img src="images/ROI-Calculator_a2_03.jpg" alt="" class="cal"> -->
    <img src="images/btn_cal.png" alt="" class="calBtn" style="left:954px" ng-click="cal()">
    <img src="images/btn_clear.png" alt="" class="clearBtn" style="left:807px" ng-click="clear()">
    <input type="text" style="top:317px" ng-model="input[0]">
    <input type="text" style="top:372px" ng-model="input[1]">
    <input type="text" style="top:427px" ng-model="input[2]">
    <input type="text" style="top:482px" ng-model="input[3]">
    <input type="text" style="top:537px" ng-model="input[4]">
</div>
