<!-- <img src="images/ROI-Calculator_a2_03.jpg" alt="" class="cal"> -->
<div class="powerTwoContainer">
    <img src="images/thePowerOfTwo.jpg">
    <div class="calContainer">
        <h2>Power of Two ROI Calculator</h2>
        <div class="inputContainer">
            <div class="row">
                <label>RTOS/Middleware Solution Development</label>
                <div class="info">
                    <i class="tip" popover-trigger="mouseenter" popover-placement="left" popover-title="{{ inputList[0].title }}" popover="{{ inputList[0].tooltip }}">i</i>
                </div>
                <input type="text" ng-model="input[0]">
            </div>
            <div class="row">
                <label>Porting RTOS/Middleware</label>
                <div class="info">
                    <i class="tip" popover-trigger="mouseenter" popover-placement="left" popover-title="{{ inputList[1].title }}" popover="{{ inputList[1].tooltip }}">i</i>
                </div>
                <input type="text" ng-model="input[1]">
            </div>
            <div class="row">
                <label>Debugging RTOS/Middleware</label>
                <div class="info">
                    <i popover-trigger="mouseenter" popover-placement="left" popover-title="{{ inputList[2].title }}" popover="{{ inputList[2].tooltip }}">i</i>
                </div>
                <input type="text" ng-model="input[2]">
            </div>
            <div class="row many">
                <label>Number of hours spent on training new Engineers on RTOS/Middleware</label>
                <div class="info">
                    <i popover-trigger="mouseenter" popover-placement="left" popover-title="{{ inputList[3].title }}" popover="{{ inputList[3].tooltip }}">i</i>
                </div>
                <input type="text" ng-model="input[3]">
            </div>
            <div class="row">
                <label>Hours of Certification and Standards Compliance</label>
                <div class="info">
                    <i class="last" popover-trigger="mouseenter" popover-placement="left" popover-title="{{ inputList[4].title }}" popover="{{ inputList[4].tooltip }}">i</i>
                </div>
                <input type="text" ng-model="input[4]">
            </div>
            <div class="row">
                <img src="images/btn_clear.png" alt="" class="clearBtn" style="left:807px" ng-click="clear()">
                <img src="images/btn_cal.png" alt="" class="calBtn" style="left:954px" ng-click="cal()">
            </div>
        </div>
    </div>
    <div class="calCharts">
        <div class="col time">
            <div class="saved">{{ results.totaltimesaved | number:0 }}<span class="unit">hr</span></div>
            <div ac-chart="'pie'" ac-data="timeSavedPie" ac-config="timeSavedPieConfig" id='timePieChart' class='pieChart'></div>
            <hr>
            <div ac-chart="'bar'" ac-data="timeSavedBar" ac-config="timeSavedBarConfig" id='timeBarChart' class='barChart'></div>
        </div>
        <div class="col cost">
            <div class="saved"><span class="unit">$</span>{{ results.totalcostsaved | number:0 }}</div>
            <div ac-chart="'pie'" ac-data="costSavedPie" ac-config="costSavedPieConfig" id='costPieChart' class='pieChart'></div>
            <hr>
            <div ac-chart="'bar'" ac-data="costSavedBar" ac-config="costSavedBarConfig" id='costBarChart' class='barChart'></div>
        </div>
    </div>
</div>
